@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

#userList{
    list-style: none;
    margin: 0;
    padding-left: .4em;
}

.userListItem{
    overflow-wrap: anywhere;
}

.details{
    height: 0%;
    position: sticky;
    top: 0;
}

.detailsItem{
    background-color: #D7E1FA;
    height: 100%;
    margin: 0;
    margin-top: .5em;
    border-radius: .3em; 
    padding-left: .2em;
    padding-right: .2em;
}

body { 
    margin: 0; 
    padding-bottom: 4rem; 
    font-family: 'Karla', sans-serif; 
    height: 100%; 
    background-color: #4F5165;
}

.message{
    background-color: #B5CDE8;
    width: 100%;
    margin: .5em 0;
    padding: .5em;
    border-radius: .3em; 
    overflow-wrap: anywhere;
}

.message p{
    margin: 0;
}

#messageForm { 
    background: #A6B1E1; 
    padding: .5em;
}

#messageInput { 
    border: none; 
    border-radius: .5em;
    font-size: large;
    padding: .3em;
    width: 40%;
}

#messageInput:focus { 
    outline: none; 
}

#messageForm > button { 
    background: #DCD6F7; 
    border: none; 
    outline: none; 
    color: #000; 
    border-radius: .5em;
    padding: .3em;
    padding-left: .6em;
    padding-right: .6em;
    font-size: large;
}

@media screen and (max-width: 768px) {

    .details{
        display: none;
    }

    .userListItem{
        display: inline;
        padding-right: 1em;
    }
}

@media screen and (max-width: 577px) {
    #messageForm > button { 
        background: #DCD6F7; 
        border: none; 
        outline: none; 
        color: #000; 
        padding: .3em;
        padding-left: .6em;
        padding-right: .6em;
        font-size: large;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: .5em;
        border-bottom-right-radius: .5em;
    }
    
    #messageInput { 
        border: none; 
        font-size: large;
        padding: .3em;
        width: 40%;
        border-top-left-radius: .5em;
        border-bottom-left-radius: .5em;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
   }
}
